
.card {
    height: 100%;
    aspect-ratio: 63/88;
    background-color: black;
    border: 2px solid red;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}