
.card {
    height: 100%;
    aspect-ratio: 63/88;
    border-radius: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
}

.card img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}