.center-cards-wrapper {
    margin-top: auto;
    display: flex;
    width: 15vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.played-cards-wrapper {
    width: 50%;
    aspect-ratio: 63/88;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.2s ease-in-out;
}

.trump-suit-wrapper {
    width: 50%;
}

.center-cards-wrapper img {
    object-fit: contain;
    width: 100%;
    height: 100%;
}